.tile {
  display: inline-flex;
}

.grass {
  background-image: url("/tiles/grass.png");
  background-size: contain;
}

.bush {
  background-image: url("/tiles/LongLeaves_s.jpg");
  background-size: contain;
}

.rock {
  background-image: url("/tiles/Rock1Seamless.png");
  background-size: contain;
}

.treasure {
  background-image: url("/tiles/treasures.png");
  background-repeat: no-repeat;
  background-size: contain;
}
